.p_top {
  .main-1 {
    padding: 5rem 0;
    margin-bottom: 2rem;    
    .image-slider {   
      padding-bottom: 35px;
    }
    .image {
      height: 500px;
      margin-bottom: 20px;
    }
    .image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
    .image-title {
      font-size: 20px;
      color: red;
    }
    .slick-initialized .slick-slide {
      margin: 0 10px;
    }    
     //common prev-next
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 9999;
    padding: 10px 20px;
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    z-index: 2;
    background-color: transparent;
  }
  .slick-prev {
    left: 0;
    border: none;
    background: url("../images/slider_arrow_prev.png") 0 0 / cover no-repeat;
  }
  .slick-next {
    right: 0;   
    border: none;
    background: url("../images/slider_arrow_next.png") 0 0 / cover no-repeat;
  }
  .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50% , 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    button {
      font-size: 0;
      // để chuyền từ số -> dấu chấm tròn
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      border: none;
      outline: none;
      transition: all 0.2s linear;
    }
  }
  .slick-active {
    button {
      background-color: rgb(0, 255, 191);
    }
  }
  }

  .main-2 {
    padding: 5rem 0;
    margin-bottom: 2rem;    
    h2{
      font-family:Pacifico;
      font-size:36px;
      margin:20px auto;
      text-align:center;
    }
    img {
      border-radius:8px;
      background:#fff;
      color:#3498db;
      font-size:36px;
      line-height:100px;
      margin:10px;
      position:relative;
      text-align:center;
      .top {
        font-size: 70%;
        height: 70%;        
        margin: 0 auto;
     
      }
      .bottom {
        font-size: 70%;
        width: 70%;
        margin: 0 auto;     
      }
    }
    .clip {
      overflow: hidden;
      bottom: 0;
    }
    
    .center .slick-slide {
    }
    
    .center .slick-center img{
      transform:scale(1.0);
      color:#e67e22;
      opacity:1;
      .top {
        font-size: 90%;
        width: 90%;
        background-color: rgba(blue, 0.3);
      }
      .bottom {
        font-size: 90%;
        width: 90%;
        background-color: rgba(green, 0.3);
      }
    }
    .center img{
      opacity:0.8;
      transition:all 300ms ease;
      bottom: 0;
      transform:scale(0.9);
    }    
    .slick-arrow {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;      
      width: 20px;
      height: 20px;
      padding: 0;      
      transform: translate(0, -50%);
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      &::before {
        content: '→';
        font-family: 'slick';
        font-size: 20px;
        line-height: 1;
        opacity: .75;
        color: white;
        background-color: black;
        border-radius: 50%;
        cursor: pointer;
      }      
    }
    .slick-next {
      right: -25px;
      &::before {
        content: '→';       
      }      
    }
    .slick-prev {
      left: -25px;
      &::before {
        content: '←'; 
      }      
    }
  } 
}